{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid">
        <span class="lgfont">
            &nbsp; 1RME
        </span>
        <hr>
        <p>
            Input your load and reps lifted to calculate the one rep max equivalent.
        </p>
    </div>
    <!-- 1RME Form Block -->
    <div class="boxy shell shdw">
        {{ wtf.quick_form(form, novalidate=True) }}
    </div>

    <!--Recommendation Block: ONLY SHOWS IF FORM WAS USED-->
    {% if onermestring != "" %}
    <div class="boxy egplnt shdw" id="results">
        <h4 class="txtlt">1RME: {{ onerme }}#</h4>
        <hr class="sand">
        <p>{{ onermestring }}</p>
        {% if current_user.is_authenticated %}
        <a href="/loglift/new/{{load}}/{{rep}}/no">
            <button type="button" class="btn btn-sand shdw">
                <span><i class="far fa-plus-square mr-2"></i></span>
                <span> Log Lift</span>
            </button>
        </a>
        {% endif %}
    </div>
    <!-- Recommendation Modal -->
    <div class="modal fade bg-blur" id="modal-onerme" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shell">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">1RME: {{ onerme }}#</h6>
                    </button>
                </div>
                <div class="modal-body">
                    <p> {{ onermestring }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% include "_footer.html" %}