{% include "_header.html" %}{% include "_analytics.html" %}

<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">BRAIN FREEZE!</h1>
                <p></p>
                <h2 class="text-white mx-auto mt-5">This is embarrassing, but the page you're looking for seems to be missing.</h2>
                <h2 class="text-white mx-auto mb-5">If the problem persists, please report below.</h2>
                <div class="mb-5">
                    <a class="btn btn-default" href="/mobile">Back to WODBrain</a>
                </div>
                <div class="mb-5">
                    <a class="btn btn-secondary" href="https://us1.list-manage.com/contact-form?u=0672977ffc55ae5d676fb2156&form_id=5a2c9ba02cc74e2fb98430b9438a6996">Report Problem</a>
                </div>
            </div>
        </div>
    </div>
</header>

{% include "_footer.html" %}