<div class="text-center border-top text-primary bg-secondary pt-4" style="height: 12rem">
    <p>
        <!-- <br><a class="nav-link-social" href="#" data-bs-toggle="modal" data-bs-target="#creditModal">Photo Credit</a> · -->
        <a href="https://us1.list-manage.com/contact-form?u=0672977ffc55ae5d676fb2156&form_id=5a2c9ba02cc74e2fb98430b9438a6996 " target="_blank ">Contact</a> ·
        <a href="https://www.privacypolicies.com/live/8bd99ef7-4b85-4a62-905a-daae13781591 " target="_blank ">Terms of Use</a> ·
        <a href="https://www.privacypolicies.com/live/dd79f5dc-756c-475b-97cb-e331f0b3d306 " target="_blank ">Privacy Policy</a>
    </p>
    <p>© <a href="httpw://www.cloudbrk.io">Cloudbreak</a> 2021. All Rights Reserved</p>
    <p class="pb-5">
        <a href="https://www.instagram.com/cloudbreakdev/ "><i class="fab fa-instagram "></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/cloudbreakdev "><i class="fab fa-twitter "></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/cloudbrk.io "><i class="fab fa-facebook-f "></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/cloudbrk "><i class="fab fa-github "></i></a>&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/company/cloudbrk/ "><i class="fab fa-linkedin-in "></i></a>
    </p>
</div>

<!--   Core JS Files   -->
<script src="./static/js/core/jquery.min.js" type="text/javascript"></script>
<script src="./static/js/core/popper.min.js" type="text/javascript"></script>
<script src="./static/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="./static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="./static/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./static/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="./static/js/plugins/moment.min.js"></script>
<script src="./static/js/plugins/datetimepicker.js" type="text/javascript"></script>
<script src="./static/js/plugins/bootstrap-datepicker.min.js"></script>
<!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
<script>
    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
        TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "argon-design-system-pro"
        });
</script>
<script>
    $(document).ready(function() {
        $("#modal-wodcalc").modal('show');
    });
</script>
</body>

</html>