<!-- Bottom Footer Links -->
<div class="boxy cntr">
    <p>
        <a href="" data-toggle="modal" data-target="#assetModal">Assets</a> ·
        <a href="https://us1.list-manage.com/contact-form?u=0672977ffc55ae5d676fb2156&form_id=5a2c9ba02cc74e2fb98430b9438a6996 " target="_blank ">Contact</a> ·
        <a href="https://www.privacypolicies.com/live/8bd99ef7-4b85-4a62-905a-daae13781591 " target="_blank ">Terms of Use</a> ·
        <a href="https://www.privacypolicies.com/live/dd79f5dc-756c-475b-97cb-e331f0b3d306 " target="_blank ">Privacy</a>
    </p>
    <p class="mb-0">© <a href="https://www.cloudbrk.io" target="_blank">Cloudbreak</a> 2022. All Rights Reserved</p>
</div>