<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png') }}">
    <!-- App Settings for iOS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/wodbrain-apple-icon.png') }}">
    <meta name="apple-mobile-web-app-title" content="WODBrain">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash1-375x667.png') }}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash2-414x896.png') }}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">

    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash3-375x812.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash4-414x736.png') }}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash5-375x812.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash6-390x844.png') }}" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash7-414x896.png') }}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/splash/splash8-428x926.png') }}" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">

    <!--  App Settings for Android-->
    <link rel="manifest" href="https://www.wodbrain.app/manifest.json">
    <title>
        WODBrain
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b6299b8380.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename='css/design-system.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

</head>

<body class={{page_class}}>
    <!-- Top Navbar -->
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-white navbar-light fixed-top shadow py-2">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not current_user.is_authenticated: %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fab fa-google fa-fw mr-2"></i> Login</a>
                </li>
                {% else: %}
                <li>
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-fw mr-2"></i> Logout</a>
                </li>
                {% endif %}
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="/phone"><i class="fa fa-download fa-fw mr-2"></i> Download</a>
                </li>


                <!-- // TODO -  REQUIRES FURTHER DEVELOPMENT, TICKET #WOD-21 -->

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/blog"><i class="fa fa-book fa-fw mr-2"></i> User Guide</a>
                </li> -->



                <li class="nav-item">
                    <a class="nav-link" href="/about"><i class="fas fa-info fa-fw mr-2"></i> About</a>
                </li>
                <hr>
                <li class="nav-item rnwf">
                    <a class="nav-link cntr" href="https://www.instagram.com/cloudbreakdev/" target="_blank"><i class="fab fa-instagram fa-fw"></i></a>
                    <a class="nav-link cntr" href="https://twitter.com/cloudbreakdev" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
                    <a class="nav-link cntr" href="https://www.facebook.com/cloudbrk.io" target="_blank"><i class="fab fa-facebook-f fa-fw"></i></a>
                    <a class="nav-link cntr" href="https://github.com/cloudbrk" target="_blank"><i class="fab fa-github fa-fw mr-2"></i></a>
                    <a class="nav-link cntr" href="https://www.linkedin.com/company/cloudbrk/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="/mobile">WODBrain</a>
    </nav>
    <!-- End Top Navbar -->

    <!-- Bottom App Navbar -->
    <nav class="app-bar fixed-bottom">
        <div class="row app-row">
            <!-- Targets Button -->
            <div class="col">
                <a href="/targets/00/0/na">
                    <div class="app-icon">
                        <i class="fas fa-bullseye app-icon"></i>
                    </div>
                    <div class="app-name">Targets</div>
                </a>
            </div>
            <!-- 1RME Button -->
            <div class="col">
                <a href="/onerme">
                    <div class="app-icon">
                        <i class="fas fa-crown app-icon"></i>
                    </div>
                    <div class="app-name">1RME</div>
                </a>
            </div>
            <!-- Home Button (Not Logged In) -->
            {% if not current_user.is_authenticated: %}
            <div class="col">
                <a href="/mobile">
                    <div class="app-icon">
                        <i class="fas fa-home app-icon"></i>
                    </div>
                    <div class="app-name">Home</div>
                </a>
            </div>
            <!-- Profile Button (Logged In) -->
            {% else: %}
            <div class="col">
                <a href="/mobile">
                    <div class="app-icon">
                        <i class="fas fa-user-circle app-icon"></i>
                    </div>
                    <div class="app-name">Profile</div>
                </a>
            </div>
            {% endif %}
            <!-- WOD Weight Button -->
            <div class="col">
                <a href="/wodweight/new/new">
                    <div class="app-icon">
                        <i class="fas fa-calculator app-icon"></i>
                    </div>
                    <div class="app-name">WODWT</div>
                </a>
            </div>
            <!-- Log Lift Modal (Not Logged In) -->
            {% if not current_user.is_authenticated: %}
            <div class="col">
                <a data-toggle="modal" data-target="#logLiftModal">
                    <div class="app-icon">
                        <i class="far fa-plus-square app-icon"></i>
                    </div>
                    <div class="app-name">Log Lift</div>
                </a>
            </div>
            <!-- Log Lift Page (Logged In) -->
            {% else: %}
            <div class="col">
                <a href="/loglift/new/new/new/no">
                    <div class="app-icon">
                        <i class="far fa-plus-square app-icon"></i>
                    </div>
                    <div class="app-name">Log Lift</div>
                </a>
            </div>
            {% endif %}
        </div>
    </nav>
    <!-- End Bottom App Navbar -->