<!--
=========================================================
* Argon Design System - v1.2.2
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="./static/img/wodbrain_logo_circ_black.png">
  <title>
    WODBrain
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="./static/css/font-awesome.css" rel="stylesheet" />
  <link href="./static/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="./static/css/argon-design-system.css" rel="stylesheet" />

</head>

<body class={{page_class}}>
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-warning navbar-light fixed-bottom shadow py-2">
    <a class="navbar-brand" href="/">WODBrain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-power-off"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wodweight"><i class="fas fa-calculator"></i> WOD Weight</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-book"></i> Log Lift</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-user-circle"></i> Lifter Profile</a>
        </li>
        -->
        <li class="nav-item">
          <a  class="nav-link" href="/phone"><i class="fab fa-app-store"></i> Install as Phone App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info"><i class="fas fa-info-circle"></i> Info</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->