 {% include "_header.html" %}{% include "_analytics.html" %}

<div class="wrapper">
    <!--    Start of "Hero" Section-->
    <div class="section section-hero section-shaped">
        <!--      White Bubbles-->
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <!--      End Bubbles-->
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-md">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_white.png')}}" style="height: 75px;" class="img-fluid"><span class="lead text-white" style="font-size: 2rem; vertical-align: middle;"> &nbsp;WODBrain</span>
                            <p class="lead text-white">You're at the gym to work your muscles, not your brain. Let us handle the mental math!</p>
                            <p>
                                <a href="/wodweight/new/new" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fas fa-calculator"></i></span>
                                    <span class="btn-inner--text">WOD Weight</span>
                                </a>
                            </p>
                            <p>
                                <a href="/onerme" class="btn btn-lg btn-dark btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fas fa-crown"></i></span>
                                    <span class="btn-inner--text">1RM Equivalent</span>
                                </a>
                            </p>
                            <p>
                                <a href="/targets/00/0/na" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fas fa-bullseye"></i></span>
                                    <span class="btn-inner--text">Target Weight</span>
                                </a>
                            </p>
                            <div class="mt-5">
                                <small class="font-weight-bold mb-0 mr-2 text-white">created by: Charlie Nolan at <a href="https://www.cloudbrk.io">Cloudbreak</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "_greyskew.html" %}
    </div>
    <!--    End of "Hero" Section-->

    <!--    Section with Grey Background and Purple Text-->
    <div class="section section-components bg-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12" id="WODWeight">
                    <h2>WOD Weight</h2>
                    <div class="col-sm">
                        <p>Sick and tired of guessing at a WOD weight between scaled and Rx? Trying to get stronger but you don’t know how much is too much? WODBrain is the tool you’ve never know you always wanted!</p>
                        <p>The gym whiteboard and your personal notes app show one thing, your one rep max (1RM) so you can show yourself how jacked you’ve become.</p>
                        <p>Using this number and the target number of unbroken repetitions for your WOD, WODBrain will dial in exactly what weight you can handle.Our recommendation engine will give you the maximum weight recommended for your rep scheme.</p>
                        <h3>Example</h3>
                        <p>The WOD is Diane: 21-15-9 Deadlift (225/155) + Handstand Push-Ups, but your 1RM deadlift is only 200#. OH NO!</p>
                        <p>From here let’s devise a strategy to break 3 times max for each round. This means the maximum broken reps you are doing for this WOD is 7. Using 250# and 7 reps, WODBrain will calculate that you to should go no heavier than 165#
                            for 7 unbroken reps.</p>
                        <p>What are you waiting for? Let's get started!</p>
                        <a href="/wodweight">
                            <button type="button" class="btn btn-default">
                                <span class="btn-inner--icon"><i class="fas fa-calculator"></i></span>
                                <span class="btn-inner--text">WOD Weight</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include "_purpleskew.html" %}
    </div>
    <div class="section section-components bg-primary text-secondary ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12" id="1RME">
                    <h2 class="text-secondary">1RM Equivalent</h2>
                    <div class="col-sm">
                        <p>Unfortunately, not every day at the gym is build to a heavy single. Depending on your programming, there can be periodic strength sessions sprinkled in, but without checking your 1RM against itself it can be hard to determine just
                            how much stronger you are getting.</p>
                        <p>Enter 1RME! Regardless of the reps and load, this calculator will convert what you've lifted to the equivalent one rep maximum. Instead of scratching your head thinking "close enough" you can now compare apples to apples using
                            1RME.
                        </p>
                        <h3 class="text-secondary">Example</h3>
                        <p>It's been months since you've maxed out your front squat during a pure strength session. This WOD you've got a shorter metcon for your Part B and Part A is building 5x5 front squat to get your form dialed in and get the blood pumping
                            a bit before the Metcon.</p>
                        <p>Your last set of five was feeling pretty good and ended at 210#, you keep the part about thinking you were going to be stuck in the hole forever to yourself as you fist bump your classmates. Your established 1RM is 220#, so it
                            seems like you were pretty close. </p>
                        <p>Using the 1RME calculator, you'll be very pumped when you see that the equivalent 1RM for 5 reps at 210# is actually 235#! Congrats on the new PR!</p>
                        <p>What are you waiting for? Let's get started!</p>
                        <a href="/onerme">
                            <button type="button" class="btn btn-white text-primary">
                                <span class="btn-inner--icon"><i class="fas fa-crown"></i></span>
                                <span class="btn-inner--text">1RM Equivalent</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            {% include "_greyskew.html" %}
        </div>
    </div>
    <div class="section section-components bg-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12" id="WODWeight">
                    <h2>Target Weight</h2>
                    <div class="col-sm">
                        <!-- TODO: UPDATE THIS SECTION -->
                        <p>What’s your bench bro? Seriously though, how much should you be able to lift? Target Weight has been developed to answer this exact question. Each person is built differently and there are many different factors that go into how
                            much you can lift.</p>
                        <p>The Target Weight tool takes your sex, body weight, and age and compares to other lifters of similar sex, body type, and age. The database of logged lifts has over one million entries, so the targets have been well established.</p>
                        <p>Simply input the barbell movement you’re looking to benchmark, enter your personal info, and you will get five levels of targets ranging from Beginner to Elite.</p>
                        <!-- END TODO -->
                        <p>What are you waiting for? Let's get started!</p>
                        <a href="/targets">
                            <button type="button" class="btn btn-default">
                                <span class="btn-inner--icon"><i class="fas fa-bullseye"></i></span>
                                <span class="btn-inner--text">Target Weight</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include "_purpleskew.html" %}
    </div>
    <div class="section section-components pb-4 bg-primary text-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h2 class="text-secondary">Change Log</h2>
                    <h6 class="text-secondary">ver 1.0 (2021-May-03)</h6>
                    <p>&nbsp;&nbsp;&nbsp;Initial release. <a class="text-secondary" href="/wodweight">WOD Weight</a> functionality added.</p>
                    <h6 class="text-secondary">ver 1.1 (2021-May-14)</h6>
                    <p>&nbsp;&nbsp;&nbsp;Relocated app to self-hosted server.</p>
                    <h6 class="text-secondary">ver 2.0 (2021-May-25)</h6>
                    <p>&nbsp;&nbsp;&nbsp;Feature release. <a class="text-secondary" href="/onerme">1RME</a> functionality added.</p>
                    <h6 class="text-secondary">ver 2.1 (2021-May-27)</h6>
                    <p>&nbsp;&nbsp;&nbsp;Added new home screen for mobile app use.</p>
                    <!-- TODO: INCLUDE 3.0 LAUNCH NOTES -->
                    <h6 class="text-secondary">ver 3.0 (2021-June-30)</h6>
                    <p>&nbsp;&nbsp;&nbsp;Moved app hosting to its final location:
                        <a class="text-secondary" href="https://www.wodbrain.app">www.wodbrain.app</a>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;Feature release. <a class="text-secondary" href="/targets">Target Weight</a> functionality added.</p>
                    <p>&nbsp;&nbsp;&nbsp;Updated <a class="text-secondary" href="/mobile">mobile home screen</a></p>
                    <!-- END TODO -->
                </div>
            </div>
        </div>
    </div>
</div>

{% include "_footer.html" %}