{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}


<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid">
        <span class="lgfont">
            &nbsp; Edit Profile
        </span>
        <hr>
        <p>
            Update lifter profile for {{ name }}. This info will be used for WODWeight, 1RME, and Target Weight.
        </p>
    </div>
    <!-- Edit Profile Form Block -->
    <div class="boxy shell shdw">
        <p class="mb-2" style="font-size: 14px;">Sex</p>
        {{ wtf.quick_form(form, novalidate=True) }}
    </div>

    {% if editsubmit != "" %}
    <!-- Profile Saved Correctly Modal -->
    <div class="modal fade bg-blur" id="modal-profilesave" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shell">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">SUCCESS</h6>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lifter Profile for {{ name }} successfully saved!</p>
                </div>
                <div class="modal-footer">
                    <a href="/load/profile">
                        <button type="button" class="btn btn-default btn-sm shdw">
                                            <span> Done</span>
                                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% include "_footer.html" %}