{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid">
        <span class="lgfont">
            &nbsp; Edit Lift
        </span>
        <hr>
        <p>
            Edit lift details and save them to your lifter profile.
        </p>
    </div>
    <!-- WODWeight Form Block -->
    <div class="boxy shell shdw">
        {{ wtf.quick_form(form, novalidate=True) }}
    </div>


    {% include "_footer.html" %}