{% include "_header.html" %}

   <div class="wrapper">
    <section class="section-profile-cover section-shaped my-0 bg-secondary">
      <!-- Circles background -->
      <img class="bg-image" src="./static/img/wave_header.jpeg" style="width: 100%;">
      {% include "_greyskew.html" %}
    </section>
    <section class="section bg-secondary">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:;">
                    <img src="./static/img/headshot.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="https://github.com/nolan887?tab=repositories" class="btn btn-sm btn-warning mr-4">Projects</a>
                  <a href="mailto:charlie@cloudbrk.io" class="btn btn-sm btn-warning float-right">Contact</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="description">Founder</span>
                    <span class="heading text-info">cloudbreak</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              <h3>Charlie Nolan</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Westerly, Rhode Island</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>Engineer by schooling. Project Manager by profession. Constant learner. Dedicated to continuous improvement.</p>
                  <p>Cloudbreak was formed as a side project in late 2018 as an outlet for my interest in coding.</p>
                  <p>2018 was the same year as my introduction to Crossfit. With no background in olympic lifting or excersizing with a barbell I was always scratching my head when a coach would say "pick a weight you can do X reps of unbroken when fresh". I was sure this was sound advice, but how the heck I was supposed to figure that out was another story! I've finally expanded my coding toolset to start making this WODBrain web app. </p>
                  <p>What has been stored in a spreadsheet on my comptuer is slowly transitioning its way into this app. I hope you like it, and I hope you stick around to watch it grow!</p>
                </div>
              </div>
            </div>
            <div class="mt-5 py-5 border-top text-left">
              <div class="row justify-content">
                <div class="col-lg-9">
                  <h3>Change Log</h3>
                  <h6>ver 1.0 (2021-May-03)</h6>
                  <p>Initial release. <a href="/wodweight">WOD Weight</a> functionality added.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
    </footer>
  </div>

{% include "_footer.html" %}