{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid">
        <span class="lgfont">
            &nbsp; Log Lift
        </span>
        <hr>
        <p>
            Lifts logged here will save to your user profile. You can edit or delete these lifts from your profile page.
        </p>
    </div>
    <!-- Log Lift Form -->
    <div class="boxy shell shdw">
        {{ wtf.quick_form(form, novalidate=True) }}
    </div>
    <!-- Successfully Logged Check -->
    {% if liftlogged == "yes" %}
    <!-- Success Logged Modal -->
    <div class="modal fade bg-blur" id="modal-logged" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content egplnt">
                <div class="modal-header">
                    <h6 class="modal-title txtlt" id="modal-title-default">Success!</h6>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">The lift has been successfully saved to your lifter profile. You can view, edit, and delete all of your lifts from your user lifter screen.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-sand ml-auto shdw" data-dismiss="modal"><i class="far fa-plus-square mr-2"></i> Log Lift</button>
                    <a href="/load/profile" class="btn btn-sand btn-icon shdw">
                        <span class="btn-inner--text"><i class="far fa-address-card mr-2"></i> Profile</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% include "_footer.html" %}