 {% include "_header.html" %}{% include "_analytics.html" %}

<div class="section section-components section-shaped pb-10" style="color: #f4f5f7; padding-bottom: 2rem;">
    <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br><br>
                <h2 style="color: #f4f5f7;"><img src="./static/img/wodbrain_logo_circ_white.png" style="height: 75px;" class="img-fluid"> &nbsp;WODBrain</h2>
                <p class="mb-0 pb-0">Navigate back here by tapping WODBRAIN in the top left corner.</p>
            </div>
        </div>
    </div>
</div>
<div class="section bg-secondary">
    <div class="container">
        <!-- ROW 1 -->
        <div class="row justify-content-center text-center mb-4">
            <div class="col col-6">
                <a href="/wodweight">
                    <div class="card border-white" style="background-image: linear-gradient(315deg, rgba(77,25,121,1), rgba(77,25,121,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fas fa-calculator"></i></h1>
                            <h6 style="color: #fff;">WOD Weight</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-6">
                <a href="/onerme">
                    <div class="card border-white" style="background-image: linear-gradient(45deg, rgba(77,25,121,1), rgba(77,25,121,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fas fa-crown"></i> </h1>
                            <h6 style="color: #fff;">1RME</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- ROW 2 -->
        <div class="row justify-content-center text-center mb-4">
            <div class="col col-6">
                <a href="/targets">
                    <div class="card border-white" style="background-image: linear-gradient(315deg, rgba(77,25,121,1), rgba(77,25,121,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fas fa-bullseye"></i> </h1>
                            <h6 style="color: #fff;">Target Weight</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-6">
                <a href="/login">
                    <div class="card border-white" style="background-image: linear-gradient(45deg, rgba(77,25,121,1), rgba(77,25,121,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fab fa-google"></i></h1>
                            <h6 style="color: #fff;">Login</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- ROW 3 -->
        <!-- <div class="row justify-content-center text-center">
            <div class="col col-6">
                <a href="#">
                    <div class="card border-white" style="background-image: linear-gradient(45deg, rgba(88,88,88,1), rgba(88,88,88,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fas fa-code-branch"></i></h1>
                            <h6 style="color: #fff;">Coming Soon</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-6">
                <a href="/phone">
                    <div class="card border-white" style="background-image: linear-gradient(45deg, rgba(77,25,121,1), rgba(77,25,121,0.55));">
                        <div class="card-body">
                            <h1 style="color: #fff;"><i class="fab fa-app-store"></i></h1>
                            <h6 style="color: #fff;">Save App</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>


{% include "_footer.html" %}