 {% include "_header.html" %}{% include "_analytics.html" %}

<main class="page shell">
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid"><span class="lgfont">&nbsp;Download</span>
        <hr>
        <p>WODBrain is a progressive web app. This means that there is one app for every device and it is always up to date. It is not available in the app stores, so follow these instructions to save this app to your phone.</p>
        <p class="mb-0">These instructions are for an iPhone using Safari. Other phones and browsers will follow similar steps.</p>
    </div>
    <div class="boxy shell shdw">
        <p>
            1. From the current page, click on the center icon on the Safari browser.</p>
        <hr>
        <div class="boxy-img">
            <img src="{{ url_for('static', filename='img/phoneapp/app_ss_1.jpeg') }}"></div>
    </div>
    <div class="boxy shell shdw">
        <p>
            2. Scroll down until you see the "Add to Home Screen" option, tap this.</p>
        <hr>
        <div class="boxy-img">
            <img src="{{ url_for('static', filename='img/phoneapp/app_ss_2.jpeg') }}"></div>
    </div>
    <div class="boxy shell shdw">
        <p>
            3. Tap "Add" in the upper right corner.</p>
        <hr>
        <div class="boxy-img">
            <img src="{{ url_for('static', filename='img/phoneapp/app_ss_3.jpeg') }}"></div>
    </div>
    <div class="boxy shell shdw">
        <p>
            4. Re-arrange your home screen and show off your sick new app!</p>
        <hr>
        <div class="boxy-img">
            <img src="{{ url_for('static', filename='img/phoneapp/app_ss_4.png') }}"></div>
    </div>
</main>


{% include "_footer.html" %}