{% include "_header.html" %}

    <div class="section section-components  pb-10 bg-primary" style="color: #f4f5f7;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 style="color: #f4f5f7;"><img src="./static/img/wodbrain_logo_rect_white.png" style="height: 75px;" class="img-fluid">WODBrain</h2>
            <div class="col-sm pt-2">
              <p>Follow the steps below to save the WODBrain app to your phone.</p>
            </div>
          </div>
        </div>
      </div>
      {% include "_greyskew.html" %}
    </div>
    <div class="section section-components pb-100 bg-secondary">
        <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12" id="calc">
            <h2>Making an App</h2>
            <div class="col-sm">
                  This page is currently under construction. Check back soon!
            </div>
          </div>
        </div>
      </div>
    </div>

{% include "_footer.html" %}