{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        {% if current_user.sex == 'm' %}
        <img src="{{url_for('static', filename='img/lion.jpeg')}}" class="rounded-circle img-fluid" style="height:3rem;"> {% else %}
        <img src="{{url_for('static', filename='img/lioness.jpeg')}}" class="rounded-circle img-fluid" style="height:3rem;"> {% endif %}
        <span class="lgfont">
            &nbsp; {{current_user.name}}
        </span>
        <hr>
        <!-- User Details Section -->
        <div class="row cntr">
            <div class="col">
                <span class="mdfont">{{ current_user.age }}</span><br>
                <span class="smfont">years</span>
            </div>
            <div class="col">
                <span class="mdfont">{{ current_user.sex }}</span><br>
                <span class="smfont">sex</span>
            </div>
            <div class="col">
                <span class="mdfont">{{ current_user.bw }}</span><br>
                <span class="smfont">lbs</span>
            </div>
        </div>
        <hr>
        <!-- Profile Buttons Section -->
        <div class="row cntr">
            <div class="col">
                <a class="btn btn-outline-primary btn-sm shdw" href="/logout"><i class="fas fa-sign-out-alt fa-fw mr-2"></i> Logout</a>
            </div>
            <div class="col">
                <a class="btn btn-outline-primary btn-sm shdw" href="/edit_profile"><i class="fas fa-user-edit fa-fw mr-2"></i> Edit Profile</a>
            </div>
        </div>
    </div>
    <!-- PR Block -->
    <div class="boxy shell shdw">
        <span class="lgfont">Personal Records</span>
        <hr class="mt-0">
        <!-- TABLE TO DISPLAY USER PR's -->
        <table class="profile-table w-100" style="margin: auto;">
            {% for name in liftcatalog: %}
            <tr>
                <td>
                    <!-- Lift Name -->
                    <span>{{ name }}</span>
                    <!-- Include Lift Level (If Available) -->
                    {% if not pr_journal[name]['onerm'] == 0 %} <br> <span class="smfont"> Level {{ pr_journal[name]['level'] }} </span> {% endif %}
                </td>
                <!-- NO LIFT LOGGED -->
                {% if pr_journal[name]['onerm'] == 0 %}
                <td>
                    <span class="smfont">No Lift Logged</span>
                </td>
                <!-- YES LIFT IN JOURNAL -->
                {% else %}
                <td>
                    <!-- 1RM or 1RME -->
                    <span>{{ pr_journal[name]['onerm'] }}#</span>
                    <!-- Rep x Weight if not true 1RM -->
                    {% if pr_journal[name]['actual'] == False %}
                    <br><span class="smfont">({{ pr_journal[name]['rep'] }} x {{ pr_journal[name]['load'] }})</span> {% endif %}
                </td>
                {% endif %}
                <td>
                    <div class="row skinny-row">
                        <!-- Target Weight Shortcut -->
                        <div class="col skinny-col">
                            <a href="/targets/{{ liftnumbers[name] }}/{{ pr_journal[name]['onerm'] }}/{{ pr_journal[name]['level'] }}"><i class="fas fa-bullseye fa-fw"></i></a>
                        </div>
                        <!-- Log Lift Button -->
                        <div class="col skinny-col">
                            <a href="/loglift/{{liftnumbers[name]}}/new/new/no"><i class="far fa-plus-square"></i></a>
                        </div>
                        {% if pr_journal[name]['onerm'] != 0 %}
                        <!-- WOD Weight Shortcut (Only for Lifts in Journal) -->
                        <div class="col skinny-col">
                            <a href="/wodweight/{{ liftnumbers[name] }}/{{ pr_journal[name]['onerm'] }}"><i class="fas fa-calculator fa-fw"></i> </a>
                        </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            <!-- Lifter Definition Modal -->
            <tr>
                <th colspan="3" class="cntr">
                    <br><span class="btn btn-outline-default shdw btn-sm mb-3 mb-sm-0" data-toggle="modal" data-target="#levelDefinitionModal">
                        <span class="btn-inner--text">Define Levels</span>
                    </span>
                </th>
            </tr>
        </table>
    </div>
    <!-- All Lifts Block -->
    <div class="boxy shell shdw">
        <span class="lgfont">Lift Journal</span>
        <hr class="mt-0">
        <div class="accordion" id="alllifts" style="margin: auto;">
            {% for name in liftcatalog: %}
            <div class="card shell">
                <div id="heading{{liftnumbers[name]}}">
                    <h5 class="mb-0">
                        <button class="btn w-100 text-default text-left" type="button" data-toggle="collapse" data-target="#data{{liftnumbers[name]}}" aria-expanded="false" aria-controls="data{{liftnumbers[name]}}">
                            {{ name }} <i class="fas fa-chevron-down float-right"></i>
                        </button>
                    </h5>
                </div>
                <div id="data{{liftnumbers[name]}}" class="collapse bg-lt-blur" aria-labelledby="heading{{liftnumbers[name]}}" data-parent="#alllifts">
                    <div class="card-body" style="padding-left: 0; padding-right: 0;">
                        {% if liftdata[name]: %}
                        <table class="profile-table w-95" style="margin: auto;">
                            {% for entry in liftdata[name]: %}
                            <tr>
                                <td>
                                    <!-- 1RM -->
                                    {{ liftdata[name][entry]['onerm'] }}#
                                    <!-- Rep x Load if  not True 1RM -->
                                    {% if liftdata[name][entry]['actual'] != True: %} <span class="smfont">({{ liftdata[name][entry]['rep'] }} x {{ liftdata[name][entry]['load'] }})</span> {% endif %}
                                </td>
                                <td>
                                    <!-- Lift Date -->
                                    <span class="smfont">{{ liftdata[name][entry]['date'].strftime("'%y - %b %d") }}</span>
                                </td>
                                <td>
                                    <div class="row skinny-row">
                                        <!-- Target Weight Shortcut -->
                                        <div class="col skinny-col">
                                            <a href="/editlift/{{entry}}"><i class="far fa-edit fa-fw"></i></a>
                                        </div>
                                        <!-- Target Weight Shortcut -->
                                        <div class="col skinny-col">
                                            <a href="/xlift/{{entry}}"><i class="far fa-trash-alt fa-fw"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>

                        {% else %}
                        <div class="cntr">
                            No lifts logged for {{ name }}
                        </div> {%endif%}

                        <div class="pt-3 cntr">
                            <a href="/loglift/{{liftnumbers[name]}}/new/new/no" class="btn btn-sm btn-default shdw"><i class="far fa-plus-square fa-fw mr-2"></i> Log Lift</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% include "_footer.html" %}