{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<div class="section section-components section-shaped pb-10 " style="color: #f4f5f7;">
    <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
    </div>
    <div class="container" style="height: 110px;">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 style="color: #f4f5f7;">Lifter Profile</h2>
            </div>
        </div>
    </div>
    {% include "_greyskew.html" %}
</div>
<div class="wrapper">
    <section class="section-profile-cover bg-secondary"></section>
    <section class="section bg-secondary">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="javascript:;">
                                    <img src="../static/img/wodbrain-apple-icon.png" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <a href="/edit_profile" class="btn btn-sm btn-outline-light mr-4">Edit Profile</a>
                                <a href="/loglift" class="btn btn-sm btn-outline-primary float-right">Log Lift</a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">{{ current_user.age }}</span>
                                    <span class="description">years</span>
                                </div>
                                <div>
                                    <span class="heading">{{ current_user.sex }}</span>
                                    <span class="description">sex</span>
                                </div>
                                <div>
                                    <span class="heading">{{ current_user.bw }}</span>
                                    <span class="description">lbs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <h3> {{ current_user.name }} </h3>
                    </div>
                    <div class="py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <table class="profile-table mb-5" style="margin: auto;">
                                    <tr>
                                        <th colspan="4" style="text-align: center;">
                                            <h4>Personal Records</h4>
                                        </th>
                                        {% for name in liftcatalog: %}
                                        <tr>
                                            <td>
                                                {{name}}
                                            </td>
                                            {% if pr_journal[name]['onerm'] == 0 %}
                                            <td>
                                                <span class="small">No Lift Logged</span>
                                            </td>
                                            <td>
                                                <span class="small"> -- </span>
                                            </td>
                                            <td>
                                                <a href="#loglift/{{liftnumbers[name]}}"><i class="fas far fa-plus-square"></i></a>
                                            </td>
                                            {% else %}
                                            <td>
                                                {{ pr_journal[name]['onerm'] }}# {% if pr_journal[name]['actual'] == False %}
                                                <br><span class="small">({{ pr_journal[name]['rep'] }} x {{ pr_journal[name]['load'] }})</span> {% endif %}
                                            </td>
                                            <td>
                                                <span class="small">{{ pr_journal[name]['date'] }}</span>
                                            </td>
                                            <td>
                                                <a href="/wodweight"><i class="fas fa-calculator"></i></a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tr>
                                </table>
                                <p class="bg-danger">
                                    <i class="far fa-trash-alt"></i> &nbsp;&nbsp;&nbsp; <i class="far fa-edit"></i> &nbsp;&nbsp;&nbsp; <i class="far fa-plus-square"></i>
                                    <br><br> for loop with a collapsable section for each barbell movement. header has + button, uncollapse shows all user logged lifts with edit and trash options.
                                </p>
                                <p>
                                    <a href="/logout" id="Front Squat" class="btn btn-light mt-4"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_footer.html" %}