{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<div class="section section-components section-shaped pb-10 " style="color: #f4f5f7;">
    <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 style="color: #f4f5f7;"><img src="{{ url_for('static', filename='img/wodbrain_logo_circ_white.png')}}" style="height: 75px;" class="img-fluid"> &nbsp;WODBrain: Target Weight</h2>
                <div class="col-sm pt-2">
                    <p> Use the fields below to to see your current strength level and suggested target weight to use as your next milestone.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "_greyskew.html" %}
</div>
<div class="section section-components pb-100 bg-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12" id="levels">
                <h2>Target 1RM Weight</h2>
                <div class="col-sm">
                    {{ wtf.quick_form(form, novalidate=True) }}
                </div>
            </div>
        </div>
    </div>
    <!--WEIGHT RECOMMENDATION: ONLY SHOWS IF FORM WAS USED-->
    {% if resultsmode != "" %} {% include "_purpleskew.html" %}
</div>
<div class="section section-components pb-100 bg-primary" style="color: #f4f5f7;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12" id="results">
                <h2 class="text-secondary">Target 1RM Weight: {{ move }}</h2>
                <div class="col-sm">
                    <table>
                        {% if onerm != 0 and liftlvl != "na" %}
                        <tr>
                            <td>
                                Level {{ liftlvl }}
                            </td>
                            <td>
                                {{ onerm }}#
                            </td>
                            <td>
                                <small>{{ current_user.name }}</small>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="bg-secondary"></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                                Level I
                            </td>
                            <td>
                                {{ targets[0] }}#
                            </td>
                            <td>
                                <small>(Beginner)</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Level II
                            </td>
                            <td>
                                {{ targets[1] }}#
                            </td>
                            <td>
                                <small>(Novice)</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Level III
                            </td>
                            <td>
                                {{ targets[2] }}#
                            </td>
                            <td>
                                <small>(Intermediate)</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Level IV
                            </td>
                            <td>
                                {{ targets[3] }}#
                            </td>
                            <td>
                                <small>(Advanced)</small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Level V
                            </td>
                            <td>
                                {{ targets[4] }}#
                            </td>
                            <td>
                                <small>(Elite)</small>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3" style="text-align: center;">
                                <span class="btn btn-white btn-icon mb-3 mb-sm-0" data-toggle="modal" data-target="#modal-level-dfn">
                                    <span class="btn-inner--text">Define Levels</span>
                                </span>
                            </th>
                        </tr>
                    </table>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL POPUP-->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-wodcalc" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Target 1RM Weights: {{ move }}</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <table class="modal-table">
                            {% if onerm != 0 and liftlvl != "na" %}
                            <tr>
                                <td>
                                    Level {{ liftlvl }}
                                </td>
                                <td>
                                    {{ onerm }}#
                                </td>
                                <td>
                                    <small>{{ current_user.name }}</small>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" class="bg-primary"></td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    Level I
                                </td>
                                <td>
                                    {{ targets[0] }}#
                                </td>
                                <td>
                                    <small>(Beginner)</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Level II
                                </td>
                                <td>
                                    {{ targets[1] }}#
                                </td>
                                <td>
                                    <small>(Novice)</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Level III
                                </td>
                                <td>
                                    {{ targets[2] }}#
                                </td>
                                <td>
                                    <small>(Intermediate)</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Level IV
                                </td>
                                <td>
                                    {{ targets[3] }}#
                                </td>
                                <td>
                                    <small>(Advanced)</small>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Level V
                                </td>
                                <td>
                                    {{ targets[4] }}#
                                </td>
                                <td>
                                    <small>(Elite)</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-level-dfn" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default">Target 1RM Weights</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <p><span style="font-weight: bold;">Level I:</span> Stronger than 5% of lifters. A beginner lifter can perform the movement correctly and has practiced it for at least a month.</p>
                        <p><span style="font-weight: bold;">Level II:</span> Stronger than 20% of lifters. A novice lifter has trained regularly in the technique for at least six months.</p>
                        <p><span style="font-weight: bold;">Level III:</span> Stronger than 50% of lifters. An intermediate lifter has trained regularly in the technique for at least two years.</p>
                        <p><span style="font-weight: bold;">Level IV:</span> Stronger than 80% of lifters. An advanced lifter has progressed for over five years.</p>
                        <p><span style="font-weight: bold;">Level V:</span> Stronger than 95% of lifters. An elite lifter has dedicated over five years to become competitive at strength sports.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>





{% include "_footer.html" %}