{% include "_header.html" %} {% include "_analytics.html" %} {% import "bootstrap/wtf.html" as wtf %}

<main class="page shell">
    <!-- Title Block -->
    <div class="boxy shell shdw ">
        <img src="{{ url_for('static', filename='img/wodbrain_logo_circ_black.png')}}" style="height: 3rem;" class="img-fluid">
        <span class="lgfont">
            &nbsp; Target Weight
        </span>
        <hr>
        <p>
            Input your details and barbell movement to see your current strength level and target milestone weight.
        </p>
    </div>
    <!-- Target Weight Form Block -->
    <div class="boxy shell shdw">
        <p class="mb-2" style="font-size: 14px;">Sex</p>
        {{ wtf.quick_form(form, novalidate=True) }}
    </div>

    <!--Recommendation Block: ONLY SHOWS IF FORM WAS USED-->
    {% if resultsmode != "" %}
    <div class="boxy egplnt shdw" id="results">
        <h4 class="txtlt">Target 1RM Weights:<br>{{ move }}</h4>
        <hr class="sand">
        <table class="cntr">
            {% if onerm != 0 and liftlvl != "na" %}
            <tr>
                <td style="text-align: left;">
                    Level {{ liftlvl }}, {{ current_user.name}}
                </td>
                <td>
                    {{ onerm }}#
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bg-secondary"></td>
            </tr>
            {% endif %}
            <tr>
                <td style="text-align: left;">
                    Level I, Beginner
                </td>
                <td>
                    {{ targets[0] }}#
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    Level II, Novice
                </td>
                <td>
                    {{ targets[1] }}#
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    Level III, Intermediate
                </td>
                <td>
                    {{ targets[2] }}#
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    Level IV, Advanced
                </td>
                <td>
                    {{ targets[3] }}#
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    Level V, Elite
                </td>
                <td>
                    {{ targets[4] }}#
                </td>
            </tr>
            <tr>
                <th class="py-2">
                    <span class="btn btn-white btn-sm mb-3 mb-sm-0" data-toggle="modal" data-target="#levelDefinitionModal">
                        <span class="btn-inner--text">Define Levels</span>
                    </span>
                </th>
            </tr>
        </table>
        {% if current_user.is_authenticated %}
        <a href="/loglift/{{liftnumbers[move]}}/new/new/no">
            <button type="button" class="btn btn-sand shdw">
                    <span><i class="far fa-plus-square mr-2"></i></span>
                    <span> Log Lift</span>
                </button>
        </a>
        {% endif %}
    </div>
    <!-- Target Weight Modal -->
    <div class="modal fade bg-blur" id="modal-targets" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shell">
                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">Target 1RM Weights: {{ move }}</h6>
                    </button>
                </div>
                <div class="modal-body cntr">
                    <table class="modal-table">
                        {% if onerm != 0 and liftlvl != "na" %}
                        <tr>
                            <td>
                                Level {{ liftlvl }}, {{ current_user.name }}
                            </td>
                            <td>
                                {{ onerm }}#
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="bg-primary"></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="text-align: left;">
                                Level I, Beginner
                            </td>
                            <td>
                                {{ targets[0] }}#
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                Level II, Novice
                            </td>
                            <td>
                                {{ targets[1] }}#
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                Level III, Intermediate
                            </td>
                            <td>
                                {{ targets[2] }}#
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                Level IV, Advanced
                            </td>
                            <td>
                                {{ targets[3] }}#
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                Level V, Elite
                            </td>
                            <td>
                                {{ targets[4] }}#
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default ml-auto" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% include "_footer.html" %}